<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <add key ="directory" value ="E:\data\财务管理\"/>

    <!--<add key ="connString" value ="Data Source=10.17.10.200;Initial Catalog=zzccwk;"/>-->

    <add key ="connString" value ="Data Source=10.17.10.202;Initial Catalog=heplate;"/>


   

    <add key ="updatedir" value ="ftp://10.17.10.200/成本管理/"  />
  </appSettings>
</configuration>